 h1,p {
            color: blue;
        }

        p a {
            color: green;
        }
h1{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}
a {
    background-color: rgba(46, 139, 87);
    color:rgb(255, 255, 255)
}
.codigo {
    color:blue;
}

.design{
    color: red;
}

.underline{
    text-decoration: underline;
}
